Assistant.json
[{"id":"3c0f7f04.625d5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e094a58.b18cb8","type":"function","z":"3c0f7f04.625d5","name":"getTopTone","func":"tones = msg.response.document_tone.tone_categories[0].tones;\nhighscore = 0;\nmessageAnger = \"I'm sorry to hear that you are feeling angry. I would recommend that you take treatment x\";\nmessageDisgust = \"I'm sorry to hear that you are feeling disgusted. I would recommend that you take treatment x\";\nmessageFear = \"I'm sorry to hear that you are feeling fearful. I would recommend that you take treatment x\";\nmessageJoy = \"I'm happy to hear that you are feeling joyful. I would recommend that you take treatment x\";\nmessageSadness = \"I'm sorry to hear that you are feeling sad. I would recommend that you take treatment x\";\ntonename = \"\";\nfor (i=0; i < tones.length; i++) {\n        score = tones[i].score;\n        if (score > highscore) {\n            highscore = score;\n            tonename = tones[i].tone_name;\n        }\n}\nmsg.response = tonename;\n\n        if(tonename == \"Anger\"){\n            msg.response=messageAnger;\n        }\n        if(tonename == \"Disgust\"){\n            msg.response=messageDisgust;\n        }\n        if(tonename == \"Fear\"){\n            msg.response=messageFear;\n        }\n        if(tonename == \"Joy\"){\n            msg.response=messageJoy;\n        }\n        if(tonename == \"Sadness\"){\n            msg.response=messageSadness;\n        }\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["70fface0.475224","af323311.5ca57"]]},{"id":"58733860.0faed8","type":"watson-tone-analyzer-v3","z":"3c0f7f04.625d5","name":"TA","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":430,"y":180,"wires":[["9e094a58.b18cb8","34d9714c.71f19e"]]},{"id":"70fface0.475224","type":"debug","z":"3c0f7f04.625d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","x":660,"y":180,"wires":[]},{"id":"34d9714c.71f19e","type":"debug","z":"3c0f7f04.625d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","x":530,"y":80,"wires":[]},{"id":"8a950870.58fc28","type":"inject","z":"3c0f7f04.625d5","name":"","topic":"","payload":"I am so frustrated with Watson right now","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["58733860.0faed8"]]},{"id":"af323311.5ca57","type":"watson-conversation-v1","z":"3c0f7f04.625d5","name":"WA","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":410,"y":360,"wires":[[]]}]